
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // WARNING: These rules are insecure and are for development purposes only.
    // They allow public read and write access to your entire database.
    // Before deploying to production, you must secure your data.
    // See https://firebase.google.com/docs/firestore/security/get-started
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
